{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Редоктирование{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Редактировать профайл</h1>
        <form action="{% url 'accounts:change' user_obj.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            {{ profile_form|crispy }}
            <button>Редактировать</button>
        </form>
    {% endif %}
{% endblock %}
