{% extends "base.html" %}

{% block title %}authentification{% endblock %}

{% block content %}
<div class="auth">
    <br><h1>Login</h1>
    <form action="{% url "accounts:login" %}" method="post">
        {% csrf_token %}
        {% if has_error %}
            <p>Wrong username or password</p>
        {% endif %}
        <p><input type="text" name="username" placeholder="Username"></p><br><br>
        <p><input type="password" name="password" placeholder="Password"></p>
        <br><br><button class="issue_create_btn">Login</button>
    </form>
</div>
{% endblock %}